# Gradle
.gradle/
build/
.cxx/
.externalNativeBuild/

# Local Configuration
local.properties

# IntelliJ / Android Studio
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml

# Android Captures
captures/

# Kotlin/Java build output
*/build/

# APK
*.apk
*.ap_